/* styles.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #4a90e2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ab8;
}

.error {
  color: red;
  margin-top: 5px;
}

.admin-dashboard {
  display: flex;
  align-items: flex-start;
}

.dashboard-sidebar {
  width: 200px;
  padding: 20px;
  height: 500px;
  background-color: #4a90e2;
  color: #fff;
  border-radius: 10px;
  margin-right: 20px;
}

.dashboard-sidebar ul {
  list-style:circle;
  padding: 10px;
}

.dashboard-sidebar li {
  margin: 10px 10px;

}

.dashboard-sidebar li a {
  color: #fff;
  text-decoration:underline;
  font-size: large;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.user-list ul {
  list-style: none;
  padding: 0;
}

.user-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user-list li:last-child {
  border-bottom: none;
}

/* Home and Logout Button */
.home-container {
  text-align: center;
}

.home-container button {
  padding: 10px 20px;
  background-color: #ff4a4a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-container button:hover {
  background-color: #e33e3e;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 10px;
  }

  .admin-dashboard {
    flex-direction: column;
  }

  .dashboard-sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
}

